*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f,
        #dd2476,
        #ff512f
    );
    color:#fff;
    border:none;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container_hero{
    width:100%;
}

.container_hero_img{
    width: 100%;
}

.hero_img{
    width: 100%;
}

body{
    font-family: 'Merriweather', sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.navbar_logo{
    width: 100px;
}

.navbar_logo_img{
    width: 100%;
}

.hero_text{
    font-size: 30px;
    color:#1d3557;
    margin: 20px 0; 
}

.Menu_container{
    margin-top: 50px;
    position: relative;
}

.menu_bg{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-image: linear-gradient(
        to right,
        #ff512f,
        #dd2476,
        #ff512f
    );
    z-index: -3;
    transform: skewY(-5deg);
}

.xplore_menu_text{
    font-size: 30px;
    color:#1d3557;
    margin: 20px 0; 
    text-align: center;
}

.menu_item{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food_image{
    width:100%;
    border-radius: 8px 8px 0 0;
}

.menu_card_description{
    padding: 20px;
}
.view_more{
    display:flex;
    justify-content: center;
}

.rest_description{
    font-size: 30px;
    color:#1d3557;
    margin: 20px 0; 
    text-align: center;
}

.rest_grid{
    width:100%;
}

.rest_grid_row1,.rest_grid_row2{
    width:100%; 
    display: flex;  
    gap:4px; 
}

.rest_grid_row1{
    align-items: baseline;
    margin-bottom: 4px;
}

.rest_1_img,.rest_2_img,.rest_3_img,.rest_4_img{
    width:100%;
    height:100%;
    border-radius:7px;
}

.rest_1,.rest_4{
    width:100%;
    height:150px;
}

.rest_2,.rest_3{
    width: 120%;
    height:200px;
}

@media (min-width: 768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar_logo{
        width: 150px;
    }
    .button_primary{
        padding: 12px 20px;
        font-size: 20px;
    }
    .container_hero{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap:10px;
    }
    .explore_menu{
        display:flex;
        gap:8px;
        margin-top: 50px;
    }
    #pizza_card{
        margin-top:-20px;
        margin-bottom: 30px;
    }
    .rest_description{
        font-size:40px;
        width:100%;
    }
    .restaurant_container{
        display: flex;
        align-items: center;
    }
    .rest_grid{
        width:100%;
    }
}

@media (min-width: 1020px){
    .container{
        max-width: 900px;
    }
    .hero_text{
        font-size: 50px;
    } 
    .explore_menu{
        gap:20px;
        padding:20px;
    }
    .xplore_menu_text{
        font-size: 50px;
    }
    .restaurant_container{
        margin-top: 30px;
    }
}

@media (min-width: 1400px){
    .conatiner{
        max-width:1250px;
    }
    .hero_text{
        font-size: 50px;
    }
}